.main-screen {
  background-image: url("../imagenes/mainscreen.jpg");
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.main-menu {
  overflow: hidden;
  font-family: "Alegreya", sans-serif;
  margin-right: 14.5rem;
}

.main-menu a {
  float: left;
  color: #d18ff3;
  text-align: center;
  padding: 2.5rem;
  text-decoration: none;
  font-size: 14px;
  font-weight: bolder;
}

.main-menu a:hover {
  background-color: #f7ffaa;
  color: #8f8c8c;
}

.logo img {
  height: 6.5rem;
  width: 6.5rem;
}

.cabecera {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-title {
  color: #b24fb8;
  font-family: "Roboto", sans-serif;
  font-weight: bolder;
  font-size: 3.5rem;
  margin-top: 6rem;
  text-align: left;
}

.side-title {
  color: #b24fb8;
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
  margin-top: 0.5rem;
  margin-left: 25rem;
}

.producto-card {
  padding-top: 2.5rem;
  display: none;
}

.pieDePagina {
  background-color: #f7ffaa;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-top: 15px;
  margin-bottom: 0px;
  text-align: center;
}

.pieDePagina__text {
  display: inline-block;
  color: #b24fb8;
  list-style: circle;
  font-size: medium;
  font-weight: bolder;
  margin-left: 5px;
}

.pieDePagina__item {
  background-color: #f7ffaa;
  display: inline-block;
  margin-left: 25px;
  margin-right: 25px;
}

@media (max-width: 800px) {
  .pieDePagina__item {
    margin-left: 15px;
    margin-right: 15px;
  }
}

@media (max-width: 480px) {
  .pieDePagina__item {
    display: block;
    margin-bottom: 15px;
  }
}

.pieDePagina__item > img {
  height: 50px;
  width: 50px;
}

@media (max-width: 800px) {
  .pieDePagina__item > img {
    width: 30px;
    height: 30px;
  }
}

.elFormulario {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

form {
  -webkit-box-shadow: 5px 5px 5px 5px #888888;
          box-shadow: 5px 5px 5px 5px #888888;
  padding: 15px;
  box-shadow: 1px 6px 30px 0px rgba(142, 142, 142, 0.75);
  -webkit-box-shadow: 1px 6px 30px 0px rgba(142, 142, 142, 0.75);
  -moz-box-shadow: 1px 6px 30px 0px rgba(142, 142, 142, 0.75);
  border-radius: 5px;
  margin-bottom: 25px;
}

.elFormulario input {
  display: block;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.5rem;
  width: 100%;
  font-weight: bolder;
  color: #1a1919;
  padding: 10px;
  border: 1px solid #ebe8e8;
  border-radius: 5px;
}

.elFormulario label {
  display: block;
  font-size: 1.5rem;
  margin-bottom: 0px;
  margin-top: 10px;
  font-weight: lighter;
  color: #9e9e9e;
}

.elFormulario textarea {
  display: block;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.5rem;
  width: 100%;
  font-weight: bolder;
  color: #1a1919;
  padding: 10px;
  border: 1px solid #ebe8e8;
  border-radius: 5px;
}

.elFormulario .enviarForm {
  background-color: #f7ffaa;
  color: #fff;
  border-color: #fff;
  margin-top: 10px;
}

.elFormulario .borrarForm {
  background-color: #f7ffaa;
  color: #fff;
  border-color: #fff;
  margin-top: 8px;
}

.producto-img {
  width: 300px;
  height: 300px;
}
/*# sourceMappingURL=onestyles.css.map */